.contactWrapperDiv {
    padding-top: 10vh;
    padding-bottom: 25vh;
    height: auto;
    width: 100vw;
}

.contactH1 {
    position: relative;
    text-align: center;
    font-size: 5rem;
    font-weight: bold;
    z-index: 2;
}

.contactIconsDiv {
    margin: auto;
    margin-top: 5%;
    display: flex;
    justify-content: space-evenly;
    height: 10%;
    width: 75%;
}

.contactIcon {
    position: relative;
    /* vertical-align: middle; */
    /* margin-top: 10%; */
    scale: 1.75;
    height: 50%;
    width: auto;
    z-index: 2;
}

.contactIconLink, .resumeDiv {
    height: 100%;
    text-decoration: none;
    color: black;
    z-index: 2;
    transition: transform 0.5s ease-in-out;
    cursor: url('../../public/images/hand-pointer-solid.svg'), auto;
}

.contactIconLink:hover, .resumeDiv:hover {
    transform: scale(1.05);
}

.contactSpan {
    position: relative;
    vertical-align: middle;
    margin-left: 0.5rem;
    font-size: 2rem;
    font-weight: bold;
    z-index: 2;
}

.resumeDiv {
    /* position: relative;
    margin: auto;
    height: 10%;
    text-align: center;
    z-index: 2; */
}

@media only screen and (max-width: 768px) {
    .contactWrapperDiv {
        width: 100vw;
        /* height: auto; */
    }
    .contactH1 {
        font-size: 3rem;
        text-align: center;
        margin-bottom: 10%;
    }
    .contactIconsDiv {
        display: flex;
        flex-direction: column;
        width: 90%;
        text-align: center;
    }
    .contactIconLink {
        margin: 2vh auto;
    }
    .contactSpan {
        /* margin-left: 0; */
        font-size: 20px;
    }
}