
.homepageIntroDiv {
    /* position: absolute; */
    /* padding-top: 10vh; */
    margin: auto;
    display: flex;
    flex-direction: row;
    width: 100vw;
    height: 90vh;
}

.iAmDiv {
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    margin: auto;
    width: 45rem;
    height: 50%;
    font-weight: bold;
    justify-content: center;
    white-space: pre;
}

.hiImConnor {
    position: relative;
    display: flex;
    justify-content: flex-start;
    text-align: left;
    width: 100%;
    height: auto;
    font-size: 6.5rem;
    z-index: 2;
}

.iAmSpan {
    margin: auto;
    width: 150%;
    height: 100%;
    text-align: left;
    font-size: 3.5rem;
    /* line-height: 4rem; */
    z-index: 2;
}

.blinkingUnderscore {
    opacity: 0;
    animation: blink 1s infinite;
}

@keyframes blink {
    0%, 100% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
}

@media only screen and (max-width: 768px) {
    .homepageIntroDiv {
        width: 100vw;
        height: 75vh;
        padding-top: 17.5vh;
        margin-bottom: 10vh;
    }

    .iAmDiv {
        /* width: auto; */
        /* max-width: 70%; */
        width: 280.55px;
    }

    .hiImConnor {
        font-size: 2.5rem;
    }

    .iAmSpan {
        font-size: 1.3rem;
        width: 100%;
    }
}
/* .downArrowButton {
    margin: auto;
    margin-bottom: 25vh;
    display: flex;
    justify-content: center;
    scale: 5;
    /* transform-: scaleX(115%) */
    /* transition: transform 0.3s ease-in-out; */
    /* } */
    
    /* .downArrowButton:hover {
        /* scale: 5.0; */
        /* cursor: pointer; */
        /* transform: scale(1.2); */
        /* } */
        
        /* .technicalSkillsH1 {
            margin-top: 50vh;
            padding-top: 15vh;
            text-align: center;
        }
        
        .technicalSkillsDiv {
            display: flex;
            flex-direction: row;
            justify-content: space-evenly;
            padding-top: 15vh;
            padding-bottom: 25vh;
            text-align: center;
            height: 100vh;
            width: 100vw;
        }
        
        .languagesDiv, .favoriteSkillsDiv, .moreSkillsDiv {
            width: 25%;
            background-color: white;
            height: 75%;
        } */