.navbarDiv {
    position: fixed;
    margin-top: 5vh;
    margin-bottom: 5vh;
    display: flex;
    margin-left: 5vh;
    z-index: 10;
}

.menuIcon {
    position: relative;
    scale: 3;
    transition: transform 0.5s ease-in-out;
}

.menuIcon:hover {
    cursor: url('../../public/images/hand-pointer-solid.svg'), auto;
    transform: scale(1.1)
}

.navbarUl, .hiddenNavBarUl {
    position: relative;
    margin-top: 30%;
    display: flex;
    flex-direction: column;
    /* width: 100%; */
    left: -20%;
    text-align: left;
    font-size: 2rem;
    font-weight: bold;
    padding-left: 0;
    list-style: none;
    /* transform: translateX(100%); */
}

.navbarUl {
    opacity: 1; /* Set initial opacity */
    transition: transform 1s ease-out, opacity 1s ease-in-out; /* Apply transition to both transform and opacity */
    transform: translateX(0%);
}

.hiddenNavBarUl {
    opacity: 0; /* Set initial opacity */
    transition: transform 1s ease-in, opacity 1s ease-in-out; /* Apply transition to both transform and opacity */
    transform: translateX(-140%);
}
/* animation: hideNavbar 1s ease-in-out forwards; */


.navbarUl li, .hiddenNavBarUl li {
    text-decoration: none;
    color: black;
    cursor: url('../../public/images/hand-pointer-solid.svg'), auto;
}

@media only screen and (max-width: 768px) {
    .navbarDiv {
        width: 100vw;
        height: 7.5vh;
        margin: 0;
        overflow: hidden;
        background-color: white;
        display: flex;
        flex-direction: row;
        /* justify-content: space-between; */
        align-items: center;
        transition: transform 0.5s ease-in-out, opacity 0.5s ease-in-out;
    }
      
      .hiddenNavbar {
        transform: translateY(-100%);
        opacity: 0;
      }
    .menuIcon {
        scale: 2;
        /* right: 5%; */
        width: 15%;
    }
    .navbarUl, .hiddenNavBarUl {
        width: 80%;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        margin-top: 3%;
        left: 0;
        /* margin-right: 2.5%; */
        font-size: 1rem;
    }
    .navbarUl {
        opacity: 1; /* Set initial opacity */
        transition: transform 1s ease-out, opacity 1s ease-in-out;
        transform: translateY(0%);
        transition: none;
    }
    
    .hiddenNavBarUl {
        opacity: 0; /* Set initial opacity */
        transition: none;
        transition: transform 1s ease-in, opacity 1s ease-in-out;
        transform: translateY(-200%);
    }
    .navbarUl li, .hiddenNavBarUl li {
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        margin: auto 2.5%;
    }

}