.projectsWrapperDiv {
    margin-bottom: 10%;
    height: 100vh;
}

.projectsH1 {
    position: relative;
    text-align: center;
    padding-top: 5%;
    padding-bottom: 5%;
    font-size: 5rem;
    font-weight: bold;
    z-index: 2;
}

.carouselWrapperDiv {
    margin: auto;
    margin-bottom: 7.5%;
    display: flex;
    align-items: center;
    width: 100%;
    border-radius: 25px !important;
}

.projectCarousel {
    position: relative;
    margin: auto;
    /* margin-right: 2.5%; */
    text-align: center;
    height: 32.5rem;
    max-height: 50vh;
    width: 50%;
    z-index: 2;
}

.carouselControlSpan {
    cursor: url('../../public/images/hand-pointer-solid.svg'), auto !important;
}

.carouselImage {
    margin: auto;
    height: 28rem;
    max-height: 45vh;
    width: auto;
}

.peakSyncDescriptionDiv {
    position: relative;
    margin-top: 0;
    margin-left: 0;
    /* margin-left: 2.5%; */
    width: 40%;
}

.peakSyncTechUsedDiv {
    margin: auto;
    margin-left: 0;
    background-color: white;
    border-radius: 25px;
    width: 75%;
    text-align: center;
}

.codifyDescriptionDiv {
    position: relative;
    margin: auto;
    margin-top: 0;
    margin-right: 0;
    right: -8.75%;

    /* margin-left: 2.5%; */
    width: 40%;
}

.codifyTechUsedDiv {
    display: flex;
    justify-content: space-evenly;
    margin: auto;
    margin-left: 0;
    /* margin-right: 0; */
    background-color: white;
    border-radius: 25px;
    width: 75%;
    text-align: center;
}

.techUsed {
    position: relative;
    height: 3.5rem;
    margin: 5%;
    transition: transform 0.5s ease-in-out;
    z-index: 2;
}

.techUsed:hover {
    transform: scale(1.25);
    cursor: url('../../public/images/hand-pointer-solid.svg'), auto;
}

.projectDescription {
    width: 75%;
    position: relative;
    text-align: justify;
    font-size: 1.25rem;
    z-index: 2;
}

.codifyDescription {
    position: relative;
    width: 75%;
    text-align: justify;
    font-size: 1.25rem;
    z-index: 2;
}

.link {
    font-size: 2.5rem;
    position: relative;
    color: black;
    z-index: 2;
}

.codifyLink {
    position: relative;
    width: 75%;
    text-align: right;
    font-size: 2.5rem;
    color: black;
    z-index: 2;
}

.link:hover {
    cursor: url('../../public/images/hand-pointer-solid.svg'), auto;
}