.projectsWrapperDiv {
    margin-bottom: 10%;
    height: 50rem;
}

.projectsH1 {
    text-align: center;
    padding-top: 5%;
    margin-bottom: 10vh;
    font-size: 5rem;
    font-weight: bold;
}

.carouselWrapperDiv {
    margin: auto;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 90%;
    border-radius: 25px !important;
}

.peakSyncCarousel {
    margin: auto;
    /* margin-right: 2.5%; */
    text-align: center;
    height: 32.5rem;
    max-height: 50vh;
    width: 50%;
}

.carouselImage {
    margin: auto;
    height: 29rem;
    max-height: 45vh;
    width: auto;
}

.peakSyncDescriptionDiv {
    position: relative;
    margin-top: 0;
    /* margin-left: 2.5%; */
    width: 40%;
}

.techUsedDiv {
    margin: auto;
    background-color: white;
    border-radius: 25px;
    width: 100%;
    text-align: center;
}

.techUsed {
    height: 3.5rem;
    margin: 5%;
}

.peakSyncDescription {
    text-align: justify;
}

.link {
    color: black;
}
