.skillsWrapperDiv {
    height: auto;
    width: 100vw;
    padding-top: 5vh;
    padding-bottom: 65vh;
    /* margin-bottom: 20vh; */
}

.skillsH1 {
    position: relative;
    padding-top: 2.5%;
    padding-bottom: 5%;
    text-align: center;
    font-size: 5rem;
    font-weight: bold;
    z-index: 2;
}

.skillsDiv {
    margin: auto;
    left: 0;
    right: 0;
    position: absolute;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-top: 2.5%;
    /* padding-bottom: 12.5%; */
    text-align: center;
    width: 65%;
}

.divTitle {
    position: relative;
    font-size: 2rem;
    font-weight: bold;
    text-align: center;
    padding-top: 3%;
    padding-bottom: 5%;
}

.toolsDiv, .favoriteSkillsDiv, .moreSkillsDiv {
    box-sizing: border-box;
    position: relative;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 25px;
    z-index: 2;
}

.favoriteSkillsDiv {
    margin: auto;
    width: 65%;
    border-radius: 25px;
}

.favoriteSkillsIconsDiv {
    display: flex;
    justify-content: space-evenly;
    height: 100%;
    width: 100%;
}

.favoriteTechImage {
    position: relative;
    margin: 5%;
    /* height: 7%; */
    width: 7%;
    border-radius: 15%;
    transition: transform 0.5s ease-in-out;
}

.moreSkillsDiv {
    width: 70%;
    margin-right: 2.5%;
}

.moreSkillsTechImage {
    margin: 5%;
    height: auto;
    width: 10%;
    border-radius: 15%;
    transition: transform 0.5s ease-in-out;
}

.toolsDiv {
    width: 50%;
    margin-left: 2.5%;
    margin-right: -1%;
}

.toolsTechImage {
    margin: 2.5% 5%;
    height: auto;
    width: 15%;
    border-radius: 15%;
    transition: transform 0.5s ease-in-out;
}

.moreSkillsTechImage:hover, .toolsTechImage:hover {
    cursor: url('../../public/images/hand-pointer-solid.svg'), auto;
    transform: scale(1.1);
}

.techImageUp {
    margin-top: -2.5%;
}

.techImageDown {
    margin-top: 5%;
}

.techImageWide {
    margin-right: 12.5%;
    margin-left: 12.5%;
}

.favoriteTechImage:hover {
    cursor: url('../../public/images/hand-pointer-solid.svg'), auto;
    transform: scale(1.1);
}

@media only screen and (max-width: 768px) {
    .skillsH1 {
        font-size: 3rem;
    }
    .toolsDiv, .favoriteSkillsDiv, .moreSkillsDiv {
        width: 75%;
        margin-bottom: 2.5%;
    }
    .divTitle {
        font-size: 1.4rem;
    }
    .favoriteSkillsIconsDiv {
        padding-bottom: 5%;
    }
    .favoriteTechImage {
        position: relative;
        margin: 3%;
        /* height: 7%; */
        width: 12.5%;
        border-radius: 15%;
        transition: transform 0.5s ease-in-out;
    }
    .skillsDiv {
        margin: auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding-top: 0%;
        /* padding-bottom: 12.5%; */
        text-align: center;
        width: 100%;
        /* width: 65%; */
    }
    .moreSkillsDiv, .toolsDiv {
        /* width: 75%; */
        margin: auto;
        margin-bottom: 2.5%;
    }
    .moreSkillsTechImage {
        width: 12.5%;
    }
}