.technicalSkillsWrapper {
    margin-bottom: 40%;
}

.technicalSkillsH1 {
    position: relative;
    /* margin-top: 50%; */
    padding-top: 3.5rem;
    padding-bottom: 10rem;
    text-align: center;
    font-size: 5rem;
    font-weight: bold;
    z-index: 2;
}

.technicalSkillsDiv {
    margin: auto;
    position: absolute;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding-top: 5%;
    padding-bottom: 12.5%;
    text-align: center;
    height: 100%;
    width: 100%;
}

.divTitle {
    font-size: 150%;
    text-align: center;
    padding-top: 2rem;
    margin-bottom: 7.5%;
}

.toolsDiv, .favoriteSkillsDiv, .moreSkillsDiv {
    position: relative;
    width: 25%;
    background-color: white;
    border-radius: 10%;
    opacity: 0.8;
    z-index: 2;
}

.favoriteSkillsDiv {
    margin: auto;
    margin-bottom: 2.5%;
    width: 40%;
    border-radius: 25px;
}

.favoriteSkillsIconsDiv {
    display: flex;
    justify-content: space-evenly;
    /* height: 10%; */
    /* width: 10%; */
}

.toolsDiv, .moreSkillsDiv {
    /* margin-top: 5%; */
    border-radius: 25px;
    width: 30%;
    height: 27.5rem;
}

.techImage {
    margin: 3.5%;
    height: 17.5%;
    width: auto;
    border-radius: 15%;
    transition: transform 0.5s ease-in-out;
}

.techImage:hover {
    cursor: url('../../public/images/hand-pointer-solid.svg'), auto;
    transform: scale(1.1);
}

.favoriteTechImage {
    margin: 5%;
    height: 4rem;
    width: auto;
    border-radius: 15%;
    transition: transform 0.5s ease-in-out;
}


.techImageUp {
    margin-top: -2.5%;
}

.techImageDown {
    margin-top: 5%;
}

.favoriteTechImage:hover {
    cursor: url('../../public/images/hand-pointer-solid.svg'), auto;
    transform: scale(1.1);
}