html {
  font-size: 16px !important;
}

body {
  background: #FDBD4D !important;
  overflow-x: hidden;
  scroll-behavior: smooth;
  /* cursor: pointer; */
  cursor: url('../public/images/location-arrow-solid.svg'), auto !important;
  height: 100vh;
  width: 100vw;
}

.downArrowButton, .upArrowButton {
  position: relative;
  margin: auto;
  display: flex;
  justify-content: center;
  scale: 5;
  /* transform-: scaleX(115%) */
  transition: transform 0.3s ease-in-out;
  z-index: 2;
}

.downArrowButton:hover, .upArrowButton:hover {
  /* scale: 5.0; */
  cursor: url('../public/images/hand-pointer-solid.svg'), auto;
  transform: scale(1.2);
}

.downArrowButton {
  margin-bottom: 20vh;
}

.upArrowButton {
  margin-top: 75rem;
}

.footerP {
  position: relative;
  margin-top: 5vh;
  padding-bottom: 25vh;
  text-align: center;
  font-size: 1.5rem;
  font-weight: bold;
  z-index: 2;
}

#container {
  margin: auto;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: center;
  background: none;
  overflow: hidden !important;
  z-index: 1;
}


#blobDiv {
  position: absolute;
  visibility: hidden;
  z-index: 1;
}

#blob, #blur {
  overflow: hidden;
}

#blob {
  position: fixed;
  background-color: white;
  background: linear-gradient(
      to right,
      white,
      white
  );
  height: 100vh;
  aspect-ratio: 1;
  border-radius: 100%;
  left: 50%;
  right: 50%;
  translate: -50% -50%;
  animation: rotate 20s infinite;
  filter: blur(40vh);
  z-index: 1;
  pointer-events: none;
}

#blur {
  height: 100%;
  width: 100%;
  position: absolute;
  background: none;
  backdrop-filter: blur(300px);
}
/* 
@keyframes rotate {
  from {
      rotate: 0deg;
  }

  50% {
      scale: 1 1.5;
  }
  
  to {
      rotate: 360deg;
  }
} */
@media (max-width: 768px) {
  .downArrowButton, .upArrowButton {
    scale: 4;
  }
  #blob,
  #blur {
    position: fixed; /* Change to fixed for mobile devices */
    overflow: hidden;
  }

  #blob {
    top: 50%; /* Center vertically */
    height: 70vh;
    filter: blur(15vh);
    transform: translate(-50%, -50%); /* Center horizontally and vertically */
  }
  #blur {
    backdrop-filter: blur(100px);
  }
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }

  50% {
    transform: scale(1, 1.5);
  }

  to {
    transform: rotate(360deg);
  }
}
/* @media only screen and (max-width: 768px) {
  #blob, #blur {
    overflow: hidden;
  }
} */

/* :root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
} */
